/**	
 * @file media_auto.css
 * @name media_auto 
 * @version 7.x-1.x
 * @author Susanne Coates
 * @copyright (c)2015 University of Maryland
 * @todo
 */
/*
 This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 2
as published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */
 
.mediaAutoWrapper {}

.mediaAutoWrapper #mediaAutoAdminTopMenu { display:inline-block; float:right; }
.mediaAutoWrapper #mediaAutoAdminTopMenu .topMenuItem {
  float:left; 
  margin: 5px 5px 10px 5px; 
  padding: 5px;
  background-color: #efefef;
  border:1 px solid grey;
  border-radius: 3px;
  height: 15px;
  width: 120px;
  text-align: center;
  box-shadow: 3px 3px 5px #333333;
}
.mediaAutoWrapper #mediaAutoAdminTopMenu #generalSettings {}
.mediaAutoWrapper #mediaAutoAdminTopMenu #providerSettings {}
.mediaAutoWrapper #mediaAutoAdminTopMenu #accountSettings {}
.mediaAutoWrapper #mediaAutoAdminTopMenu #collectionSettings {}
.mediaAutoWrapper #mediaAutoAdminTopMenu #indexedMediaSettings {}


/* Table styles */
.mediaAutoWrapper .settingsTable { 
  margin:5px 0 20px 0; 
  padding:0; 
  border:0px solid grey; 
}
.mediaAutoWrapper .settingsTable .tableHeader { background: #AEAEAE; }
.mediaAutoWrapper .settingsTable .tableSectionHeader { 
  text-align:left; 
  vertical-align:middle;
  font-size:1.25em; 
  font-weight:bold;
}
.mediaAutoWrapper .settingsTable .tableSectionHeader .innerTable {
  border:0; 
  display:inline-block;
}
.mediaAutoWrapper .settingsTable .tableRepeatHeader { background: #CECECE; }
.mediaAutoWrapper .settingsTable .collectionLabel { float: left; margin: 12px 0 0 5px; }

/* cell styles */
.mediaAutoWrapper .settingsTable td { padding:0; }
.mediaAutoWrapper .settingsTable .cell { padding: 0 5px 0 5px; }
.mediaAutoWrapper .settingsTable .cell .form-item { padding:0; margin:0; }
.mediaAutoWrapper .settingsTable .cid { text-align: center; }

/* row styles */
.mediaAutoWrapper .settingsTable tr { margin:0; padding:0; border: 0; }
.mediaAutoWrapper .settingsTable tr td:last-child {border: 0; }
.mediaAutoWrapper .settingsTable .elementRow { 
    padding-top: 5px; 
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}
//.mediaAutoWrapper .settingsTable .elementRow:nth-child(odd) { background: #EFEFEF; }
.mediaAutoWrapper .settingsTable .scrolledTableContainer {
  max-height:300px;
  overflow-y:auto;
  overflow-x:hidden;
  
}
.mediaAutoWrapper .settingsTable .scrolledTable { width:100%; }
.mediaAutoWrapper .settingsTable .scrolledTable .elementRow:nth-child(odd) { background: #EFEFEF; }

/* Column styles */
.settingsTable .titleCol { width:180px; padding: 0 5px 0 5px;}
.settingsTable .descriptionCol { width:200px; padding: 0 5px 0 5px;}
.settingsTable .enabledCol { width: 80px; padding: 0 5px 0 5px;}
.settingsTable .tagsCol { width: 120px; padding: 0 5px 0 5px;}
.settingsTable .publishedCol { width:100px; padding: 0 5px 0 5px;}
.settingsTable .publicationDateCol { width:150px; padding: 0 5px 0 5px;}
.settingsTable .defaultThumbnailCol { 
  //text-align:center; 
  width:100px;
  padding: 0 5px 0 5px;
}
.settingsTable .largeThumbnailCol { 
  //text-align:center; 
  width:100px;
  padding: 0 5px 0 5px;
}
.settingsTable .smallThumbnailCol { 
  //text-align:center; 
  width:100px;
  padding: 0 5px 0 5px;
}





/* Add Account Widget */
.addAccountGroup { 
  display:inline-block; 
  border:1px solid grey; 
  padding:10px; 
  border-radius: 3px; 
  box-shadow: 5px 5px 10px black;
  margin-right: 30px;
  float:left;
}
.addAccountGroup .form-item { float: left; margin-right: 10px; }
.addAccountGroup .form-submit { float:left; margin-top:27px; }
/* Misc */
.mediaAutoWrapper .settingsTable .brandingThumbnail { 
  height: 25px; 
  position:relative; 
  background: #EAEAEA; 
  border: 1px solid black; 
  border-radius: 5px;
  padding: 3px;
  margin: 5px 0 5px 10px;
}
.mediaAutoWrapper .settingsTable IMG.imgThumbnail { 
  width: 50px;
  display: block;
  //margin-left: auto;
  //margin-right: auto;
}
.mediaAutoWrapper .settingsTable .accountDisabledWarning {
  color: #881111; 
  padding: 7px; 
  border:1px solid black; 
  border-radius: 3px; 
  background-color:#E8E8E8; 
  float:right;
}

.mediaAutoWrapper .settingsTable .playlistRow {
  background-color: #EEEEFF;
  border-bottom: 1px solid black;
}

.mediaAutoWrapper .generalSettingsTable .form-item .form-checkbox { float: left; margin-top:5px;}
.mediaAutoWrapper .generalSettingsTable .form-item .description { display:inline-block; margin: 5px 0 5px 5px;}
.mediaAutoWrapper .generalSettingsTable .form-text { float: left }


/* Notes */
.mediaAutoWrapper .settingsInformation { margin-left: 20px;}

/* feed styles */
/*
.media-auto-media-feed {}
.media-auto-media-feed .media-youtube-player {width:400px; height:225px;}
.media-auto-media-feed .media-vimeo-player {width:400px; height:225px;}
.media-auto-media-feed td {vertical-align: bottom;}</style>
*/

